@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e2e2e2;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Muli', sans-serif;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    text-align: center;
}

.progressive-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
}

.progressive-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #ffffff;
    color:#1f1f1f;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
  }

  .btn {
    background-color: var(--line-border-fill);
    border: 0;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
  }

  .btn:active {
    transform: scale(0.98);
  }

  .btn:focus {
    outline: 0;
  }

  .btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
  }